<!DOCTYPE html>
<html>
<head>
    <title>Otsi lähimaid tanklaid</title>
</head>
<body>
    <h1>Sisesta oma aadress ja maksimaalne kaugus tanklani</h1>
    <form action="/" method="POST">
        <label for="address">Aadress:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="max_distance">Maksimaalne kaugus tanklani (km):</label><br>
        <input type="text" id="max_distance" name="max_distance"><br><br>
        <input type="submit" value="Otsi">
    </form>
</body>
</html>
